<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h1{
            color: darkslateblue;
            font-weight: bold;
        }
        .text-center{
            text-align: center;
        }
        .main{
            color: black;
            font-size: medium;
        }
        .foot{
            color: grey;
            font-size: small;
        }

    </style>
</head>
<body>
    <div class="text-center main">
        <h1>Thank you for registration!</h1>
        <p>We are welcome you on our ITConference!</p>
        <p>Conference will be held on 24th of November 2018 in Sport Palace, Ukraine, Kharkiv</p>
        <p>We will meet you there!</p>
        <p>If you have any suggestions or complaints please feel free to contact us</p>
    </div>
<footer class="text-center foot">
    <p>ITCONF Communications </p>
    <p>59/56 Traktorostroiteley pr.</p>
    <p>Kharkiv, Ukraine, 61118</p>
    <p>Telephone (057)111-11-12 or 111-11-13</p>
</footer>
</body>
</html>